*.class
*.swp

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
/LabWorks/nbproject/private/
/LabWorks/build/
/LabWorks/dist/
/LabWorks/build/
/Lab1/nbproject/private/
/Lab1/build/
/Lab2/nbproject/private/
/Lab2/build/
/Pokemons/nbproject/private/
/SimpleDotCom/nbproject/private/
/LabWorks/nbproject/private/
/LabWorks/build/
/LabWorks/dist/
/SimpleDotCom/build/
/DotCom/nbproject/private/
/DotCom/build/
/DotCom/dist/
/SimpleDotCom/dist/
/Lab1/dist/
/Lab2/dist/
/Lab2_1/nbproject/private/
/FindCats/nbproject/private/
/FindCats/build/
/JavaApplication2/nbproject/private/
/Samples/nbproject/private/
/Samples/build/
/Destroy the world/nbproject/private/
/Destroy the world/build/
/Duck/nbproject/private/
/Duck/build/
/Duck/dist/
/Lab2_1/build/
/Lab2_1/dist/
/Destroy the world/dist/
/OutWorld/nbproject/private/
/OutWorld/build/
/OutWorld/dist/
/Animal/nbproject/private/
/JavaApplication9/nbproject/private/
/JavaApplication9/build/
/getDate/nbproject/private/
/getDate/build/
/GetDate2/nbproject/private/
/GetDate2/build/
/2plus2/nbproject/private/
/2plus2/build
/Exam_FEPTKV/nbproject/private/
/Exam_FEPTKV/build/
/Exam_FEPTKV/dist/
/destroyTest/nbproject/private/
/dateCal/nbproject/private/
/dateCal/build/
/Calendar/nbproject/private/
/calendarik/nbproject/private/
/calendarik/build/
/testPackage/nbproject/private/
/regularExp/nbproject/private/
/Cal/nbproject/private/
/Cal/build/
/CalcF/nbproject/private/
/CalcF/build/
/CalcF/dist/
/Client-Server/nbproject/private/
/Client-Server/build/
/DailyAdviceClient/nbproject/private/
/DailyAdviceClient/build/
/Calc_wia_Serv/nbproject/private/
/Calc_wia_Serv/build/
/DuckBehavior/nbproject/private/
/DuckBehavior/build/
/WeatherData/nbproject/private/
/WeatherData/build/